
@media (min-width:700px){

    .fade-up {
  opacity: 0;
  transform: translateX(-400px);
}
.fade-up.visible{
    animation: aneem 1s ease-out forwards;

}
@keyframes aneem {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
}

@media (max-width : 700px) {
    .fade-up {
  opacity: 0;
  transform: translateX(-20px);
}
.fade-up.visible{
    animation: aneem 1s ease-out forwards;

}
@keyframes aneem {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
    
}



.carousel {
    scrollbar-width: 0;
  
}
.carousel{
    overflow-x: hidden;
}

.carousel:hover::-webkit-scrollbar {
    display: none;
    color: aqua;
}

.group {
    padding-right: 1em;
    animation: spin 10s infinite linear;
}

.group:-webkit-scrollbar {
  display: hidden;
}
@keyframes spin {
    from {translate:0};
    to{
        translate: -100%;
    }
    
}

