
.carousel {
    scrollbar-width: 0;
  
}
.carousel::-webkit-scrollbar{
    display: none;
    background-color: aquamarine;
}

.carousel:hover::-webkit-scrollbar {
    display: none;
    color: aqua;
}

.group {
    padding-right: 1em;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    from {translate:0};
    to{
        translate: -100%;
    }
    
}

.fade-up {
  opacity: 0;
  transform: translateX(-400px);

  
}
.fade-up.visible{
    animation: aneem 1s ease-out forwards;
}

@keyframes aneem {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-down{
    opacity: 0;
    transform: translateY(-200px);
}
.fade-down.visible{
    animation: fade-down 1s ease-out forwards ;
}


@keyframes fade-down {
    
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



